body {
  font-family: "Zilla Slab", serif;
  margin: 0;
}

.common-part {
  display: flex;
}

/* navigation-bar part */

.nav-bar {
  background: #81cfe0;
  overflow: hidden;
}

.nav-bar span {
  display: inline-block;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.nav-bar ul {
  display: inline-block;
  list-style-type: none;
  text-align: end;
  margin: 0;
  padding: 0;
  float: right;
}
.nav-bar ul li {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}
.nav-bar a {
  text-decoration: none;
}

/* top-part */

.partition1 {
  width: 35%;
  padding-left: 5%;
  margin-top: 5%;
}
.partition1 img {
  width: 150%;
}
h1 {
  font-size: 50px;
  margin: 0;
}
h2 {
  font-size: 40px;
}
h3 {
  font: size 35px;
}
.coral {
  color: coral;
}
.click-button {
  text-decoration: none;
  background-image: linear-gradient(indianred, coral);
  color: white;
  font-weight: 700;
  display: inline-block;
  margin: 25px 0px;
  padding: 20px 35px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px #f09393;
}

.img-url {
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
}

/* about-part */

.partition2 {
  width: 35%;
  padding-left: 12%;
  /* margin-top: 10%; */
  text-align: justify;
}
.partition2 img {
  width: 60%;
}
.img-url2 {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 80px 0;
}

.partition2 p {
  display: inline-block;
  margin: 20px 0;
}
.gray {
  color: gray;
}

/* recipe-part */

.recipe-area {
  padding-left: 5%;
}

.intro {
  width: 40%;
  text-align: center;
  margin: auto;
}
.social-bg {
  background-image: url(images/shapes/Group\ 8449.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
}
.part-sizing {
  width: 30%;
  margin: 30px 2%;
  padding: 1%;
  box-shadow: 2px 2px 10px gray;
  border-radius: 20px;
  text-align: center;
}

.part-sizing p {
  text-align: justify;
}
.img-sizing {
  width: 100%;
}

/* social-part */

.social-media {
  width: 88%;
  margin: 5% 7%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px gray;
}

.same-line {
  display: inline-block;
  width: 15%;
  padding-left: 15%;
}

/* footer-part */

footer {
  background: #0b0e17;
  color: #ccc;
  /* text-align: center; */
  padding: 20px 0 60px;
  display: flex;
}
.footer-part {
  display: inline-block;
  width: 50%;
  padding-left: 10%;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fd {
  color: coral;
}
.net {
  color: #aaa;
}
.copyright {
  /* margin: 0;
  bottom: 0; */
  /* text-align: start; */
  bottom: 0;
}
